<!-- Projects Section -->
<section class="projects-section text-center py-5 fade-in" id="projects">
    <div class="container">
        <!-- Background Large Text -->
        <h1 class="background-text">PROJECTS</h1>

        <!-- Foreground Large Text -->
        <h1 class="foreground-text">MY-MINI PROJECTS</h1>

       <!-- Projects Grid -->
<div class="row mt-5">
    <!-- Project Item 1 -->
    <div class="col-md-4 mb-4">
        <div class="project-item">
            <img src="/stuff/tracking.png" alt="Project 1" class="img-fluid rounded shadow">
            <h3 class="project-title">Project 1: Document Tracking System</h3>
            <p class="project-date">2023.11.28</p>
            <p class="project-description">A modern web tracking application built with Node.js, Express. </p>
            <a href="https://doctracking-hqda.onrender.com" target="_blank" class="btn btn-success mt-2">View Project</a>
        </div>
    </div>
    <!-- Project Item 2 -->
    <div class="col-md-4 mb-4">
        <div class="project-item">
            <img src="/stuff/milkteassssss.png" alt="Project 2" class="img-fluid rounded shadow">
            <h3 class="project-title">Project 2: E-commerce Style Milk-Tea</h3>
            <p class="project-date">2024.11.7</p>
            <p class="project-description">An e-commerce website developed using Node,Express. featuring product adding, editing, deleting.</p>
            <a href="https://milktea-5srx.onrender.com" target="_blank" class="btn btn-success mt-2">View Project</a>
        </div>
    </div>
    <!-- Project Item 3 -->
    <div class="col-md-4 mb-4">
        <div class="project-item">
            <img src="/stuff/realstate.png" alt="Project 3" class="img-fluid rounded shadow">
            <h3 class="project-title">Project 3: Real Estate Website</h3>
            <p class="project-date">2024.11.8</p>
            <p class="project-description">A visually engaging real estate designed with Node.js, Express, and Bootstrap. Features include a clean layout, seamless navigation, and essential property information for an immersive browsing experience.</p>
            <a href="https://real-state-bf62.onrender.com/" target="_blank" class="btn btn-success mt-2">View Project</a>
        </div>
    </div>
    <!-- Add more projects as needed -->
</div>

    </div>
</section>
